<h1>Editing employee</h1>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to "Cancel", @employee, class: "btn btn-secondary" %> |
  <%= link_to "Employees", employees_path, class: "btn btn-secondary" %>
</div>
