<nav class="navbar navbar-expand-lg navbar-light container d-flex justify-content-center">
  <h1 class="text-center text-secondary">Salary Management App</h1>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user), class: 'nav-link d-flex align-items-center' do %>
        <i class="fas fa-user position-absolute top-95 end-0 translate-middle-y me-3 text-secondary"> <%= current_user.name %></i>
    <% end %>
  <% end %>
</nav>